@model List<Car>

<h1>Codelandia</h1>

<table border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
            </tr>
        </tbody>
    }
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </tfoot>
</table>

